<p style="color: green"><%= notice %></p>

<%= render @friend %>

<div>
  <%= link_to "Edit this friend", edit_friend_path(@friend), class: "btn btn-primary" %>
  <%= button_to "Delete this friend", @friend, method: :delete, class: "btn btn-danger" %>
</br>


</br>
  <%= link_to "Back to friends", friends_path, class: "btn btn-primary" %>
</div>
