<head>
<style>
body { 
    font-family: Arial, sans-serif; 
}

/* Ensure the right-hand side recipe widget has fixed width */
.toc-container { 
    position: fixed; 
    right: 0; 
    top: 100px; 
    width: 200px; /* Adjust the width as needed */
}

.toc-dropdown { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.toc-dropdown li { 
    margin-bottom: 10px; 
}

.toc-link { 
    text-decoration: none; 
    color: #004085; 
}

/* Content container should not overlap the TOC container */
.content-container {
    margin-right: 250px; /* or more, depending on the actual width of the TOC container */
}

.blog-image { 
    width: 100%; 
    height: auto; 
}

/* Adjusting header sizes */
h1, h2, h3 {
    font-size: 1.7rem; /* Adjust the size as needed */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Spacing for the list items */
ol, ul {
    padding-left: 20px; /* This ensures indentation for list items */
}

/* Spacing for additional images */
.additional-images {
    margin-top: 10px; /* This adds space between the main image and additional images */
}

.additional-images img { 
    cursor: pointer; 
    width: 30%; 
    margin-right: 5%; 
}

.secondary-image {
    max-width: 200px;
    margin-right: 20px;
    padding: 10px; /* Adds padding around the image */
    background-color: #fff; /* Optional: Adds a white background around the image */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow for depth */
}

/* Ensure the blog post itself has padding and possibly a max-width to prevent overflow */
.blog-post {
    padding-right: 20px; /* Adjust padding to ensure content does not touch the recipe widget */
    max-width: calc(100% - 220px); /* Example calculation to prevent overflow */
}

</style>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #000000;">
<div class="logo-container">
<div class="avatar" style="cursor: pointer; border: 3px solid white; border-radius: 50%;" onclick="location.href='<%= root_path %>'">
    <%= image_tag "profilepic.jpg", class: "logo", width: '35', height: '20', style: 'border-radius: 15%;' %>
</div>

<div class="name-and-icons">
    <%= link_to "William Francis", root_path, class: "navbar-brand spacing-nav", style: "color: black; align-self: center;" %>
    <div class="social-media-icons">
    <%= link_to '<i class="fab fa-twitter icon-spin-on-click"></i>'.html_safe, "https://twitter.com/willyumfrancis", class: "nav-link" %>

    <%= link_to '<i class="fab fa-linkedin icon-spin-on-click"></i>'.html_safe, "https://www.linkedin.com/in/williamfrancismisiaszek/", class: "nav-link" %>
<%= link_to '<i class="fab fa-instagram icon-spin-on-click"></i>'.html_safe, "https://www.instagram.com/wfteddybear/", class: "nav-link" %>
<%= link_to '<i class="fab fa-tiktok icon-spin-on-click"></i>'.html_safe, "https://www.tiktok.com/@beszos?lang=en", class: "nav-link" %>

        </div>
</div>
</div>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav">

  <li class="nav-item <%= 'active' if current_page?(portfolio_path) %>">
    <%= link_to "Tech", portfolio_path, class:"nav-link" %>
  </li>
  <li class="nav-item <%= 'active' if current_page?(social_path) %>">
    <%= link_to "Music", social_path, class:"nav-link" %>
  </li>
  <li class="nav-item <%= 'active' if current_page?(contact_path) %>">
  <%= link_to "Healthy Recipes", contact_path, class:"nav-link" %>
</li>

</ul>
      <div class="ml-auto">
  <%= form_tag search_google_path, method: :get, class: 'form-inline my-2 my-lg-0' do %>
    <%= text_field_tag :query, params[:query], placeholder: 'Search', class: 'form-control mr-sm-2', 'aria-label': 'Search' %>
    <%= submit_tag 'Search', class: 'btn btn-outline-light my-2 my-sm-0', name: nil %>
  <% end %>
</div>

    
    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
$(document).ready(function(){
  $(".icon-spin-on-click").click(function(){
    $(this).addClass("spin");
  });
});


  document.addEventListener("DOMContentLoaded", () => {
    if (window.matchMedia("(min-width: 768px)").matches) {
      const header = document.querySelector("nav.navbar.sticky-top");

      let previousScroll = window.pageYOffset;

      window.addEventListener("wheel", (event) => {
        const deltaY = event.deltaY;
        const currentScroll = window.pageYOffset;

        if (currentScroll === 0) {
          // At top of page, slide in header
          header.classList.remove("slide-out");
          header.classList.add("slide-in");
        } else if (deltaY < -10) {
          // Scrolling up is negative deltaY
          header.classList.remove("slide-out");
          header.classList.add("slide-in");
        } else if (deltaY > 10) {
          // Scrolling down is positive deltaY
          header.classList.remove("slide-in");
          header.classList.add("slide-out");
        }

        previousScroll = currentScroll;
      });
    }
  });
</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>



</body>
