<head>
  <style>
  
    .navbar {
      background-color: #28282B;
      color: #fff;
    }

    .navbar-brand {
      color: #fff;
    }

    .navbar-nav .nav-link {
      color: #fff;
    }

    .navbar-nav .active {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <!-- Add sticky-top class here -->
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <button>
    <%= image_tag "profile_pic.jpg", class: "logo", width: "100", height: "100" %>
    <%= link_to "Alex Tanchyn", root_path, class: "navbar-brand", style: "color: black;" %>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
      
        <li class="nav-item <%= 'active' if current_page?(portfolio_path) %>">
          <%= link_to "Portfolio", portfolio_path, class:"nav-link" %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(social_path) %>">
          <%= link_to "Social", social_path, class:"nav-link" %>
        </li>
        <li class="nav-item <%= 'active' if current_page?(contact_path) %>">
          <%= link_to "Contact", contact_path, class:"nav-link" %>
        </li>
      </ul>
      <div class="ml-auto">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</body>
