<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Namie - iOS Application</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- Animate.css for animations -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>

<body>
    <div class="container mt-2 pb-5">
        <h1 class="text-center text-primary mb-3 animate__animated animate__fadeInDown">Namie - iOS Application</h1>

        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="updates">
                    <h3 class="lead animate__animated animate__fadeIn">UPDATES:</h3>
                    <ul class="list-group list-group-flush animate__animated animate__fadeIn">
                        <li class="list-group-item">Notifications working.</li>
                        <li class="list-group-item">New default picture for locations.</li>
                    </ul>
                </div>

                <div class="intro">
                    <p class="lead animate__animated animate__fadeIn">This app will help you remember the people you frequently bump into. Jot a name down, add a descriptor, and a picture if you love the location.</p>
                    <p class="lead animate__animated animate__fadeIn">Namie will ping you the last note you wrote down at a location as you get close to it (for those nonchalant glances at your phone before engaging in conversation).</p>
                    <p class="lead animate__animated animate__fadeIn">I designed the app to be easy to use. Text me (w/ a screenshot) if you find a weird bug!</p>
                    <p class="lead animate__animated animate__fadeIn">Go out and meet people! Meet the owner and star employees of your favorite spots. People react differently when you remember the little things.</p>
                </div>

                <div class="sign-off">
                    <p class="lead mt-5 animate__animated animate__fadeIn">All the best,</p>
                    <p class="lead animate__animated animate__fadeIn">William</p>
                </div>

                <div class="app-images d-flex justify-content-around mt-3 animate__animated animate__fadeIn">
                    <a href="<%= asset_path 'App1.png' %>">
                        <%= image_tag "App1.png", alt: "App1 Image", class: "img-fluid", style: "max-width: 200px;" %>
                    </a>
                    <a href="<%= asset_path 'App2.png' %>">
                        <%= image_tag "App2.png", alt: "App2 Image", class: "img-fluid", style: "max-width: 200px;" %>
                    </a>
                </div>
                
                <div class="mt-3 animate__animated animate__fadeIn">
                    <a href="<%= asset_path 'StoryBoard.png' %>">
                        <%= image_tag "StoryBoard.png", alt: "Storyboard Image", class: "img-fluid", style: "max-width: 500px;" %>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>
