<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Namie - iOS Application</title>


    <!-- Animate.css for animations -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="/assets/application.css">

</head>

<body>
    <div class="container mt-2 pb-5">
        <h1 class="text-center text-primary mb-3 animate__animated animate__fadeInDown">Apps & Sites</h1>

        <div class="row">
            <div class="col-lg-8 offset-lg-2">
            <h2 class="text-center mt-4 display-9 animate__animated animate__fadeIn"><strong>Namie - iOS</strong></h2>

                <div class="updates">
                <h4 class="mt-4 display-9 animate__animated animate__fadeIn"><strong>Last Updated (07/15/2023):</strong></h4>
                <ol class=" animate__animated animate__fadeIn">
                        <li class="list-group-item">1. New Default Address Made. Now just write and save!</li>
                        <li class="list-group-item">2. Fine tuning notifications.</li>
                        <li class="list-group-item">3. New default picture for locations.</li>
                    </ol>
                </div>

                <a class="btn btn-custom animate__animated animate__fadeIn mt-1 mb-4" href="https://testflight.apple.com/join/rIyScvls" role="button">Join the Namie Beta</a>


                <div class="intro my-2">
                <p class="lead animate__animated animate__fadeIn">This app will help you remember the people you frequently bump into. Jot a name down and add a detail about them.</p>
                <p class="lead animate__animated animate__fadeIn">Namie will ping you the last note you wrote down at a location as you get close to it (for those nonchalant glances at your phone before engaging in conversation).</p>
                <p class="lead animate__animated animate__fadeIn">I designed the app to be easy to use. Text me (w/ a screenshot) if you find a weird bug!</p>
                <p class="lead animate__animated animate__fadeIn">Go out and meet people! Meet the owner and star employees of your favorite spots.</p>
                <blockquote class="lead animate__animated animate__fadeIn" style="font-size: 1.5em; font-weight: bold; color: #007bff;">"People react differently when you remember the little things."</blockquote>
            </div>

                <div class="app-images d-flex justify-content-around mt-3 animate__animated animate__fadeIn">
                    <a href="<%= asset_path 'App1.png' %>">
                        <%= image_tag "App1.png", alt: "App1 Image", class: "img-fluid", style: "max-width: 200px;" %>
                    </a>
                    <a href="<%= asset_path 'App2.png' %>">
                        <%= image_tag "App2.png", alt: "App2 Image", class: "img-fluid", style: "max-width: 200px;" %>
                    </a>
                </div>
                
                <div class="mt-3 animate__animated animate__fadeIn">
                    <a href="<%= asset_path 'StoryBoard.png' %>">
                        <%= image_tag "StoryBoard.png", alt: "Storyboard Image", class: "img-fluid", style: "max-width: 500px;" %>
                    </a>
                </div>
            </div>
        </div>

        <div class="container mt-4 pb-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2 class="text-center mt-3 display-9 animate__animated animate__fadeIn"><strong>Stanford Magazine</strong></h2>
            <p class="lead animate__animated animate__fadeIn">As the Technical Product Manager at the Alumni Association, I've expanded my role beyond traditional responsibilities. Not only do I shape product strategy and influence key stakeholders, but I also directly contribute to the codebase, uniting leadership with technical acuity.</p>

                <p class="lead animate__animated animate__fadeIn">One significant application of my blended skillset is the online version of our magazine. I've been instrumental in optimizing the front-end experience for our alumni community while simultaneously directing the strategic course of our product development.</p>
                
                <p class="lead animate__animated animate__fadeIn">My role seamlessly merges Quality Assurance (QA), DevOps, and product roadmap management. I thrive in balancing design aesthetics and technical functionalities, maintaining a diverse product portfolio in sync with our long-term vision.</p>
                                
                <a class="btn btn-custom animate__animated animate__fadeIn mt-3" href="https://stanfordmag.org" role="button">Explore Stanford Magazine</a>
                </div>
                

    </div>

        <div class="container mt-4 pb-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h2 class="text-center mt-3 display-9 animate__animated animate__fadeIn"><strong>Thomson Fabrication & Design</strong></h2>
                <p class="lead animate__animated animate__fadeIn">I had the opportunity to collaborate with Otis Thompson, the visionary behind Thomson Fabrication & Design. Our goal was to revitalize the online presence of his exceptional business. </p>
                <p class="lead animate__animated animate__fadeIn">Working closely with him, we designed and implemented a website that serves as an authentic reflection of the company's commitment to excellence and innovation. </p>
                <p class="lead animate__animated animate__fadeIn">It was my responsibility to not just manage, but also strategically enhance their digital footprint, effectively conveying the unique essence of Thomson Fabrication & Design to a wider audience.</p>
                <a class="btn btn-custom animate__animated animate__fadeIn mt-3" href="https://www.thomsonfabrication.com" role="button">Explore the site</a>
            </div>
        </div>
        <div class="app-images d-flex justify-content-around mt-3 animate__animated animate__fadeIn">
                    <a href="<%= asset_path 'otis1.png' %>">
                        <%= image_tag "otis1.png", alt: "Thomson Fab Image 1", class: "img-fluid", style: "max-width: 500px;" %>
                    </a>
                    <a href="<%= asset_path 'otis2.png' %>">
                        <%= image_tag "otis2.png", alt: "Thomson Fab Image 2", class: "img-fluid", style: "max-width: 500px;" %>
                    </a>
                </div>
    </div>
    </div>

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>
