<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>William Francis Misiaszek</title>
    <link rel="stylesheet" href="/assets/application.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <style>

    /* Content container should not overlap the TOC container */
.content-container {
    margin-right: 250px; /* or more, depending on the actual width of the TOC container */
}

/* Ensure the right-hand side recipe widget has fixed width */
.toc-container {
    width: 200px; /* Adjust the width as needed */
    position: fixed;
    right: 0;
    top: 100px;
}

/* Ensure the blog post itself has padding and possibly a max-width to prevent overflow */
.blog-post {
    padding: 20px; /* This adds padding all around the post */
    margin-bottom: 20px; /* This adds space below each post */
    max-width: calc(100% - 220px); /* Example calculation to prevent overflow */
    background: #fff; /* Assuming you want a white background */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow for depth */
}



    /* Adjusting header sizes */
h1, h2, h3 {
    font-size: 1.7rem; /* Adjust the size as needed */
    margin-bottom: 0.5rem;
}

/* List styles */
ol, ul {
    padding-left: 40px; /* Increase indentation of list */
    margin-bottom: 10px; /* Space below the list */
}

li {
    margin-bottom: 10px; /* Space between list items */
    line-height: 1.6; /* Improve readability */
    font-size: 1rem; /* Adjust the font size as needed */
}

/* Ordered list specific styles */
ol {
    counter-reset: item;
    list-style-type: none;
}

ol li {
    counter-increment: item;
    position: relative;
}

ol li:before {
    content: counter(item) ". ";
    position: absolute;
    left: -30px; /* Adjust based on actual padding-left of ol */
    font-weight: bold; /* Make numbers bold */
}

/* Spacing for additional images */
.additional-images {
    margin-top: 10px; /* This adds space between the main image and additional images */
}
        body { font-family: Arial, sans-serif; }
        .toc-container { position: fixed; right: 20px; top: 100px; width: 200px; }
        .toc-dropdown { list-style: none; padding: 0; margin: 0; }
        .toc-dropdown li { margin-bottom: 10px; }
        .toc-link { text-decoration: none; color: #004085; }
        .content-container { margin-right: 250px; }
        .blog-image { width: 100%; height: auto; }
        .additional-images img { cursor: pointer; width: 30%; margin-right: 5%; }
        .secondary-image {
    max-width: 200px;
    margin-right: 20px;
    padding: 10px; /* Adds padding around the image */
    background-color: #fff; /* Optional: Adds a white background around the image */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow for depth */
}
    </style>
</head>
<body>
    <div class="container mt-2 pb-5">
        <h1 class="animate__animated animate__fadeInDown" style="color: #004085;">Food Blog</h1>


            <div id="steak1" class="blog-post">
                <h2>Steak Salad</h2>
                <!-- Main Image -->
                <%= link_to image_tag("food/steak1.jpeg", alt: "Main Steak Salad", class: "img-fluid", style: "max-width: 20%;"), asset_path("food/steak1.jpeg"), target: "_blank" %>
                <h3>Main:</h3>
                <ul>
                    <li>Steak</li>
                    <li>Egg</li>
                    <li>Butter (Olive Oil good too)</li>
                </ul>
                <h3>Salad:</h3>
                <ul>
                    <li>Mixed Greens (50/50, Arugula good too)</li>
                    <li>Mini Tomatoes</li>
                    <li>Mandarins</li>
                    <li>Greek Yogurt (0% or 2%)</li>
                    <li>Sweet Potatoes</li>
                </ul>
                <h3>Spices:</h3>
                <ul>
                    <li>Basil</li>
                    <li>Oregano</li>
                    <li>TJ’s Green Goddess</li>
                    <li>Timut Pepper</li>
                </ul>
                <ol>
                    <li>Pre-heat oven to 350, insert auto-thermometer set to 117F. Craft salad while steak reaches internal temperature (20 minutes).</li>
                    <li>Prep pan at ultra high temp (8-10) to finish our reverse seared steak. Add butter and turn on pan as steak gets close to 117F. Optionally have 2nd pan for egg started too.</li>
                    <li>For potatoes, stab with fork on the top and bottom 2-3 times, put in bowl, add a splash of water, and put in microwave for 5-6 minutes. Optionally cut and place on salad.</li>
                    <li>Pull Steak out of oven, sear top and bottom for 20-30 seconds (your preference here). Top salad off with Steak and Egg.</li>
                </ol>
                <div class="additional-images">
                    <%= link_to image_tag("food/steak2.jpeg", alt: "Additional Image 1", class: "img-fluid secondary-image", style: "max-width: 150px; margin-right: 20px;"), asset_path("food/steak2.jpeg"), target: "_blank" %>
                    <%= link_to image_tag("food/steak3.jpeg", alt: "Additional Image 2", class: "img-fluid secondary-image", style: "max-width: 130px; margin-right: 20px;"), asset_path("food/steak3.jpeg"), target: "_blank" %>
                </div>
            </div>

     <div id="tacos1" class="blog-post">
                        <h2>Super Tacos</h2>
                        <!-- Main Image -->
                        <%= link_to image_tag("food/tacos1.jpeg", alt: "Main Tacos", class: "img-fluid", style: "max-width: 40%;"), asset_path("food/tacos1.jpeg"), target: "_blank" %>
                        <h3>Main:</h3>
            <ul>
                <li>Meat (96/4 Beef)</li>
                <li>Egg</li>
                <li>Olive Oil</li>
                <li>Whole Wheat Pita (Sonoran Style/Any Tortilla)</li>
            </ul>
            <h3>Fixings:</h3>
            <ul>
                <li>Cilantro (50/50, Arugula good too)</li>
                <li>Mini Tomatoes</li>
                <li>Mandarins</li>
                <li>Greek Yogurt (0% or 2%)</li>
                <li>Mini Avocado</li>
            </ul>
            <h3>Spices/Sauces:</h3>
            <ul>
                <li>Basil</li>
                <li>Oregano</li>
                <li>Fav Hot Sauce (Sabatino Truffle)</li>
                <li>Timut Pepper</li>
            </ul>
            <ol>
<li>Heat Pan (5-7) with Olive Oil. Add Protein with Spices and close lid to cook slowly while prepping fixings. Turn meat to other side when ready (clean blood release).</li>
<li>Cut and Prep Fixings into separate bowls: Tomatoes/Mandarins, Avocado, Yogurt, Cilantro/Arugula. </li>
<li>Put meat in serving dish, set aside to finish tortillas on same pan.</li>
<li>Defrost tortilla/pita for 60 seconds with tortilla warmer. Finish off on pan with a dab of olive oil, and put back into tortilla holder. Optional to have egg pan on too for eggs.</li>
</ol>
<div class="additional-images">
                    <%= link_to image_tag("food/tacos2.jpeg", alt: "Additional Image 1", class: "img-fluid secondary-image", style: "max-width: 150px; margin-right: 20px;"), asset_path("food/tacos2.jpeg"), target: "_blank" %>
                </div>

        </div>          

            <!-- Table of Contents -->
            <div class="col-lg-4">
                <div class="toc-container">
                    <h4>Recipes</h4>
                    <ul class="toc-dropdown">
                        <!-- Dynamically filled by JavaScript/jQuery -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
    <script>
        $(document).ready(function() {
            const recipes = [
                { title: "Steak Salad", date: "2023-04-02", id: "steak1" },
                { title: "Super Tacos", date: "2023-04-01", id: "tacos1" },
                // Add your recipes here
            ];

            recipes.forEach(function(recipe) {
                $('.toc-dropdown').append(
                    `<li><a href="#${recipe.id}" class="toc-link">${recipe.title} - ${recipe.date}</a></li>`
                );
            });
        });

        function showImageModal(src) {
            // Set the src of the modal image to the src of the clicked image
            $('#modalImage').attr('src', src);
            // Show the modal
            $('#imageModal').modal('show');
        }
    </script>
</body>
</html>
